body {
  text-align: center;
  font-family: helvetica;
}

.hero{
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  font-size: 18px;
  font-family: helvetica;
  color: white;
}

.hero h1{
  font-size: 70px;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 16px;
}

p.special {
  color: white;
}

nav {
  font-size: 18px;
  color: white;
}

a:link {
    color:white;
    }

.divider{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

footer {
  font-family: helvetica;
  font-size: 11px
  color: white;
  text-align: left;
  background-color: dimgray;
